<header class="header">
  <div class="container">
    <a href="">
      <svg><use></use></svg>
    </a>

    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="" class="nav__link"></a></li>
        <li class="nav__item"><a href="" class="nav__link"></a></li>
        <li class="nav__item"><a href="" class="nav__link"></a></li>
        <li class="nav__item"><a href="" class="nav__link"></a></li>
      </ul>
    </nav>

    <div>
      <a href=""></a>
      <button></button>
    </div>
  </div>
</header>
